<div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Article's title" name="title"
        value="<%= article.title %>" required>
</div>
<div class="form-group">
    <label for="description">Description</label>
    <textarea rows="3" type="text" class="form-control" id="description" placeholder="Article's description"
        name="description" required><%= article.description %></textarea>
</div>
<div class="form-group">
    <label for="markdown">Markdown</label>
    <textarea rows="15" type="text" class="form-control" id="markdown" placeholder="Start writing article"
        name="markdown" required><%= article.markdown %></textarea>
</div>
<div class="mt-4 ">
    <a href="/articles" class="btn btn-secondary"> Cancel</a>
    <button class="btn btn-primary ml-4" type="submit">save</button>
    <a href="/publish" class="btn btn-success ml-4" type="submit">Publish</a>
</div>