<div>
    <p>
        🎓 Currently pursuing a Master of Science in Computer Science at Georgia Institute of Technology.
    </p>
    <p>
        🎓 Graduate with a Bachelor of Science in Computer Science | Minor in Math | GPA of 3.7
        | made the Dean's list twice | Cum Laude (latin honors).
    </p>
    <hr>
    <p>
        💼 Experienced in various projects spanning software development and cloud computing, I've honed my
        technical prowess while cultivating essential soft skills like teamwork and effective communication.
    </p>
    <p>
        🌟 Looking ahead, my goal is to make meaningful contributions in software engineering, leveraging my
        skills to tackle industry challenges head-on. I'm excited to delve deeper into machine learning and
        explore opportunities to innovate and create positive change.
    </p>
    <hr>
    <p>
        🚀 I'm passionate about learning and growing, and I'm always eager to take on new challenges.
    </p>
    <hr>


</div>