<div class="box">
    <a class="resume-a" href="https://github.com/wilkensonio" target="_blank"><i class="fa-brands fa-github"></i></a>
    <a class="resume-a" href="https://www.linkedin.com/in/wilkensonh2/" target="_blank"><i
            class="fa-brands fa-linkedin"></i></a>
</div>