<div class="box">
    <a href="https://github.com/wilkensonio" target="_blank"><i class="mdi mdi-github"></i></a>
    <a href="https://www.linkedin.com/in/wilkensonh2/" target="_blank"><i class="mdi mdi-linkedin"></i></a>
</div>