<ul>
        <li>
                <span>Bachelor of Science<br>Computer Scicence
                </span><small>Southern Connecicut State University</small><small>Dec 2024</small>
        </li>
        <li><span>Computer Science</span><small>Housatonic Community College</small><small>Dec 2022.
                </small></li>
        <li><span>Coursework</span><small>Object-oriented Programmming | Distributed Systems | Software Design and
                        Development</small><small></small>
        </li>
</ul>