<ul>
        <li class="resume-li">
                <span>Master of Science<br>Computer Scicence
                </span><small>Georgia Institute of Technology</small><small>Dec 2027</small>
        </li>
        <hr>
        <li class="resume-li">
                <span>Bachelor of Science<br>Computer Scicence
                </span><small>Southern Connecicut State University</small><small>Dec 2024 | Dean's list (2) | Cum
                        Laude</small>
        </li>

        <hr>
        <li class="resume-li"><span>Computer Science (Transfer)</span><small>Housatonic Community
                        College</small><small>Dec 2022 |
                        Dean's list.
                </small></li>

</ul>