<ul>
    <li class="resume-li" hidden><span>Software Engineer Associate<br> </span><small>Travlers</small><small>Dec 2024 -
            Now</small>
    </li>
    <li class="resume-li"><span>Software Engineer | EDP<br> </span><small>Travlers</small><small>Dec 2024 -
            Now</small>
    </li>
    <hr>
    <li class="resume-li"><span>Software Developer<br> </span><small>SCSU</small><small>Oct 2023 -
            Dec 2024</small>
    </li>
    <li class="resume-li">
        <span>Student Tutor</span><small>SCSU</small><small>Jan 2024 - May 2024</small>
    </li>
    <li class="resume-li">
        <span>Student Teacher Assistant</span><small>SCSU</small><small>Jan 2024 - May 2024</small>
    </li>
</ul>