<ul>
    <li><span>Software Developer<br> </span><small>SCSU</small><small>Oct 2023 -
            Now</small></li>
    <li><span>Student Tutor</span><small>SCSU</small><small>Jan 2024 - May 2024</small></li>
    <li><span>Student Teacher Assistant</span><small>SCSU</small><small>Jan 2024 - May 2024</small></li>
</ul>