<div class="interests-items mb-5">
    <div class="art">
        <!-- <i class="fas fa-palette"></i> -->
        <span>Secretary, Tutor and Coordinator </span>
    </div>
    <div class="art">
        <!-- <i class="fas fa-book"></i> -->
        <span>Pear Academic Leader & Teacher’s Assistance</span>
    </div>
    <div class="movies">
        <!-- <i class="fas fa-film"></i> -->
        <span>International Collegiate Programming Contest Club (ICPC)
        </span>
    </div>
    <!-- <div class="music"><i class="fas fa-headphones"></i><span>Music</span></div>
    <div class="games"><i class="fas fa-gamepad"></i><span>Games</span></div> -->
</div>
<hr class="mb-5">
<div class="interests-items mb-5">
    <div class="art">
        <!-- <i class="fas fa-palette"></i> -->
        <span>Lead study sessions for students to grasp java and Python programming concepts.</span>
    </div>
    <div class="art">
        <!-- <i class="fas fa-book"></i> -->
        <span>Grade assignments and provide constructive feedback, resulting in a 20% improvement.</span>
    </div>
    <div class="movies">
        <!-- <i class="fas fa-film"></i> -->
        <span>
            Represented SSCSU in the ACM ICPC algorithm competition.
        </span>
    </div>
    <!-- <div class="music"><i class="fas fa-headphones"></i><span>Music</span></div>
    <div class="games"><i class="fas fa-gamepad"></i><span>Games</span></div> -->
</div>
<hr class="mb-5">