<div class="info">
    <h1 class="name text-white text-capitalize">Wilkenson Hilarion</h1>
    <h2 class="job text-white text-capitalize">Software Engineer</h2>
    <h3>AI Enthusiast <span class="text-white">.</span> </h3>
</div>