<ul>
    <li class="resume-li" data-percent="70"><span>Pyhton</span>
        <div class="skills-bar">
            <div class="bar"></div>
        </div>
    </li>
    <li class="resume-li" data-percent="60"><span>Java</span>
        <div class="skills-bar">
            <div class="bar"></div>
        </div>
    </li>
    <li class="resume-li" data-percent="60"><span>JavaScript</span>
        <div class="skills-bar">
            <div class="bar"></div>
        </div>
    </li>
    <li class="resume-li" data-percent="50"><span>MySQL</span>
        <div class="skills-bar">
            <div class="bar"></div>
        </div>
    </li>
    <li class="resume-li" data-percent="40"><span>JSON</span>
        <div class="skills-bar">
            <div class="bar"></div>
        </div>
    </li>
    <li class="resume-li" data-percent="40"><span>PHP</span>
        <div class="skills-bar">
            <div class="bar"></div>
        </div>
    </li>
    <li class="resume-li" data-percent="40"><span></span>
        <div class="skills-bar">
            <div class="bar"></div>
        </div>
    </li>
</ul>