<ul id="circular-progress-list">
    <li class="resume-li" data-percent="90">
        <svg viewbox="0 0 100 100">
            <circle cx="50" cy="50" r="45"></circle>
            <circle class="cbar" cx="50" cy="50" r="45"></circle>
        </svg><span>Agile</span><small></small>
    </li>
    <li class="resume-li" data-percent="70">
        <svg viewbox="0 0 100 100">
            <circle cx="50" cy="50" r="45"></circle>
            <circle class="cbar" cx="50" cy="50" r="45"></circle>
        </svg><span>Cloud</span><small></small>
    </li>
    <li class="resume-li" data-percent="70">
        <svg viewbox="0 0 100 100">
            <circle cx="50" cy="50" r="45"></circle>
            <circle class="cbar" cx="50" cy="50" r="45"></circle>
        </svg><span>ML</span><small></small>
    </li>
    <!-- <li class="resume-li" data-percent="96">
        <svg viewbox="0 0 100 100">
            <circle cx="50" cy="50" r="45"></circle>
            <circle class="cbar" cx="50" cy="50" r="45"></circle>
        </svg><span>Problem solving</span></span><small></small>
    </li> -->

</ul>