<ul id="circular-progress-list">
    <li data-percent="50">
        <svg viewbox="0 0 100 100">
            <circle cx="50" cy="50" r="45"></circle>
            <circle class="cbar" cx="50" cy="50" r="45"></circle>
        </svg><span>Agile</span><small></small>
    </li>
    <li data-percent="40">
        <svg viewbox="0 0 100 100">
            <circle cx="50" cy="50" r="45"></circle>
            <circle class="cbar" cx="50" cy="50" r="45"></circle>
        </svg><span>Clould</span><small></small>
    </li>
    <li data-percent="30">
        <svg viewbox="0 0 100 100">
            <circle cx="50" cy="50" r="45"></circle>
            <circle class="cbar" cx="50" cy="50" r="45"></circle>
        </svg><span>ML</span><small></small>
    </li>
    <li data-percent="96">
        <svg viewbox="0 0 100 100">
            <circle cx="50" cy="50" r="45"></circle>
            <circle class="cbar" cx="50" cy="50" r="45"></circle>
        </svg><span>Problem solving</span></span><small></small>
    </li>

</ul>