<style>
    .lang-logo img {
        width: 100%;
        height: auto;
        max-width: 100px;
        border-radius: 50%;
        display: block;
        margin: auto;
    }

    /* Responsive adjustments */
    @media (max-width: 768px) {
        .lang-logo img {
            max-width: 60px;
        }
    }
</style>
<div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center ">
    <div class="col-lg-8 align-self-end">
        <h1 class="text-white font-weight-bold">I'm Wilkenson</h1>
        <hr class="divider" />
    </div>
    <div class="col-lg-8 align-self-baseline">

        <p class="text-white-75 mb-5">
            🎓 Currently pursuing a degree in Computer Science, where I've excelled academically, earning accolades for
            my dedication to mastering complex concepts. My academic journey fuels my curiosity and propels me to
            explore the intersection of technology and real-world challenges. <br>

            💼 Experienced in various projects spanning software development and cloud computing, I've honed my
            technical prowess while cultivating essential soft skills like teamwork and effective communication. <br>

            🌟 Looking ahead, my goal is to make meaningful contributions in software engineering, leveraging my skills
            to tackle industry challenges head-on. I'm excited to delve deeper into machine learning and explore
            opportunities to innovate and create positive change. <br>

            Let's connect and explore how we can collaborate on projects that push the boundaries of technology and
            drive impactful outcomes. <br>
        </p>


        <div class="row text-white lang-logo">
            <div class="col-6 col-md-3 mb-4"><img src="/assets/img/lang-logo/python.png" alt=""></div>
            <div class="col-6 col-md-3 mb-4"> <img src="/assets/img/lang-logo/java.png" alt=""></div>
            <div class="col-6 col-md-3 mb-4"> <img src="/assets/img/lang-logo/js.png" alt=""></div>
            <div class="col-6 col-md-3 mb-4"> <img src="/assets/img/lang-logo/haskell.png" alt=""></div>
            <div class="col-6 col-md-3 mb-4"> <img src="/assets/img/lang-logo/scikit-learn.png" alt=""></div>
        </div>


    </div>
</div>