<style>
    .lang-logo img {
        width: 100%;
        height: auto;
        max-width: 100px;
        border-radius: 50%;
        display: block;
        margin: auto;
    }

    /* Responsive adjustments */
    @media (max-width: 768px) {
        .lang-logo img {
            max-width: 50px;
        }
    }
</style>
<div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center ">
    <div class="col-lg-8 align-self-end">
        <h1 class="text-white font-weight-bold">I'm Wilkenson</h1>
        <hr class="divider" />
    </div>
    <div class="col-lg-8 align-self-baseline">
        <p class="text-white-75 mb-5">
            🎓 Software Engineer with a passion for building innovative tools.
            <br> <br>

            💼 Dream big, set ambitious goals, and strive to achieve them with unwavering determination.
            <br><br>

            🌟 Continuous learner, always up for a challenge.
            <br><br>
            🚀 Thrives in fast-paced environments and loves problem-solving.
            <br><br>

            📚 Lifelong student of technology, eager to explore AI and machine learning.
            <br><br>


        </p>


        <div class="row text-white lang-logo">
            <div class="col-6 col-md-3 mb-4"><img src="/assets/img/lang-logo/python.png" alt=""></div>
            <div class="col-6 col-md-3 mb-4"> <img src="/assets/img/lang-logo/java.png" alt=""></div>
            <div class="col-6 col-md-3 mb-4"> <img src="/assets/img/lang-logo/js.png" alt=""></div>
            <!-- <div class="col-6 col-md-3 mb-4"> <img src="/assets/img/lang-logo/haskell.png" alt=""></div> -->
            <div class="col-6 col-md-3 mb-4"> <img src="/assets/img/lang-logo/scikit-learn.png" alt=""></div>
        </div>


    </div>
</div>