<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-lg-8 text-center">
        <!-- <h2 class="text-white mt-0">Welcome to Your Go-To Source for AI and Tech Insights!</h2> -->
        <!-- <hr class="divider divider-light" /> -->
        <iframe src="/about" frameborder="0" width="375" height="400"></iframe>

    </div>
</div>