<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Home</title>

    <link rel="icon" href="/assets/favicon_io/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/favicon_io/android-chrome-512x512.png" type="image/png" sizes="1512x512">
    <link rel="icon" href="/assets/favicon_io/android-chrome-192x192.png" type="image/png" sizes="192x192">
    <link rel="icon" href="/assets/favicon_io/favicon-32x32.png" type="image/png" sizes="32x32">
    <link rel="icon" href="assets/favicon_io/favicon-16x16.png" type="image/png" sizes="16x16">
    <link rel="icon" href="/assets/favicon_io/apple-touch-icon.png" type="image/png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="/styles/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link href="/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="/admin/assets/vendors/mdi/css/materialdesignicons.min.css">
</head>

<body style="background-color: #1a212d;">
    <!-- Navigation-->
    <header class="sticky-top">
        <%- include('../partials/nav') %>
    </header>

    <div class="px-4 px-lg-5 masthead max-screen">
        <div class="container">
            <%- include('about') %>
        </div>
    </div>
    <footer>
        <%- include('../partials/footer') %>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrapls"></script>
    <!-- SimpleLightbox plugin JS-->
    <script src="/js/simpleLightbox.min.js"></script>
    <!-- Core theme JS-->
    <script src="/js/scripts.js"></script>
    <script src="/js/proper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>



</body>

</html>