
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
body {
  background-color: #1a212d; 
}
body .btn-bg-dark {
  background-color: #2d3748;
  color: #f7fafc;
}
body .bg-card {
  background-color: rgb(26, 32, 44);
  border-color: #426a92;
  color: #f7fafc;
}
body .bg-card:nth-child(even) {
  border-color: #2c3e50;
}
/* cards */
.card {
  max-width: 100%;  
}

.card-text {
  max-height: 100px;  
  overflow: hidden;  
  text-overflow: ellipsis;  
}

.btn-mr-4{
  margin-right: 1rem;
  margin-bottom: 1rem; 
}
.btn-read-more {
  margin-left:1rem;
}

/* nav  */
.bg-nav-dark {
  background-color: #2d3748;
  color: #f7fafc;
}
/* .cursor-pointer {
  cursor: pointer !important;
} */

/* divider-or */
hr.divider-or {
  height: 0.2rem;
  max-width: 100%;
  margin: 1.5rem auto;
  background-color: #f4623a;
  opacity: 1;
} 

.btn-orange{
  background-color: #f4623a;
  color: #f7fafc;
}

.btn-custom-dark {
  background-color: #343a40; /* Darker shade of gray */
  color: #ffffff; /* White text */
  border: none; /* Remove default border */
}

.btn-custom-dark:hover {
  background-color: #23272b; /* Even darker shade on hover */
  color: #ffffff; /* White text on hover */
}
 

/* Custom Blue Button */
.btn-custom-blue {
  background-color: #007bff; /* Custom blue color */
  color: #ffffff; /* White text */
  border: none; /* Remove default border */
}

.btn-custom-blue:hover {
  background-color: #1e90ff; /* Darker blue for hover effect */
  color: #ffffff; /* White text on hover */
}

/* Custom Info Button */
.btn-custom-info {
  background-color: #17a2b8; /* Custom info color (light teal) */
  color: #ffffff; /* White text */
  border: none; /* Remove default border */
}

.btn-custom-info:hover {
  background-color: #117a8b; /* Darker teal for hover effect */
  color: #ffffff; /* White text on hover */
}

.icon-color button i {
  color: white;  
  cursor: pointer;
}

/* code block  */
pre code.language-python,
pre code.language-java,
pre code.language-javascript,
pre code.language-css {
  color: rgb(17, 229, 17);
    background:  none;  
    /* border-bottom: #303336 1px solid;   */
}

 
pre code.language-mermaid {
    background: initial;  
}

/* katex  */
span .katex-display .katex .katex-html{
  display: block;
  margin: 1rem 1rem;
  text-align: left;
}

/* mainNav */
#mainNav {
  background-color: #1a212d !important;
  color: #f7fafc;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.989);
}

.navbar-toggler-icon { 
  background-color: #f7fafc;
}
/* hamburger btn */
/* .custom-toggler {
  border: 1px solid white; 
  background: transparent; 
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40px;
  height: 30px;
} */

.custom-toggler .toggler-icon { 
  width: 25px;
  height: 3px;
  background-color: rgb(213, 204, 204) !important; /* White lines */
  display: block;
  margin: 4px 0;
  transition: all 0.3s;
}
 
 
.custom-toggler:hover .toggler-icon {
  background-color: #f8f9fa; /* Lighter white on hover */
}

/* Change lines to cross when toggled */
.custom-toggler.collapsed .toggler-icon:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.custom-toggler.collapsed .toggler-icon:nth-child(2) {
  opacity: 0;
}

.custom-toggler.collapsed .toggler-icon:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
.resume-link:hover {
  color: orange !important;  
}
.btn-primary{
  background-color: #f4623a;
  border-color: #f4623a;
}
.btn-primary:hover{
  background-color: #f37350;
  border-color: #f4623a;
}

