<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/brands.min.css"
    integrity="sha512-EJp8vMVhYl7tBFE2rgNGb//drnr1+6XKMvTyamMS34YwOEFohhWkGq13tPWnK0FbjSS6D8YoA3n3bZmb3KiUYA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    footer .fa-brands,
    footer .mdi {
        font-size: 1.5rem;
        color: #ff6600;
    }

    footer .fa-brands:hover,
    footer .mdi:hover {
        color: #ffffff;
    }

    .text-muted {
        color: #6c757d !important
    }

    hr.divider {
        height: 0.2rem;
        max-width: 3.25rem;
        margin: 1.5rem auto;
        background-color: #fff;
        opacity: 1;
    }

    hr.divider-light {
        background-color: #f4623a;
    }

    .icon {
        font-size: 1.5rem;
        color: #ff6600 !important;
    }
</style>
<footer class=" py-5">
    <hr class="container text-white mb-5">
    <div class="mb-5">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h5 class="text-white
                    mt-0 quotes"></h5>
                    <hr class="divider divider-light" />
                    <p class="text-white">
                        Know when new articles are published. Join our discord server!
                    </p>
                    <div class="box d-flex justify-content-center align-items-center">
                        <a href="https://discord.gg/2Ut2WBuSap" target="_blank" class="me-3"><i
                                class="fa-brands fa-discord icon"></i></a>

                        <a href="https://www.linkedin.com/in/wilkensonh2/" target="_blank" class="me-3"><i
                                class="fa-brands fa-linkedin icon"></i></a>

                        <a href="mailto:kadeenopost@gmail.com" target="_blank" class="me-3"><i
                                class="fa-solid fa-envelope icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container px-4 px-lg-5">
        <div class="small text-center text-muted">Copyright &copy; <%= new Date().getFullYear() %>, All rights
                reserved.
        </div>
    </div>
</footer>
<script>
    const quotes = [
        '"One machine can do the work of fifty ordinary men. No machine can do the work of one extraordinary man. - Elbert Hubbard"',
        '“Technology will never replace great teachers, but technology in the hands of great teachers is transformational.” – George Couras',
        '“Technology alone is not enough.”— Steve Jobs',
        '“If you think technology can solve your security problems, then you don’t understand the problems, and you don’t understand the technology.”— Bruce Schneier',
        '“Technology is anything that wasn’t around when you were born.” – Alan Kay',
        ' “The great myth of our times is that technology is communication.” – Libby Larsen',
        '“Any application that can be written in JavaScript, will eventually be written in JavaScript” — Jeff Atwood'
    ];
    const firstQuote = quotes[Math.floor(Math.random() * quotes.length)];
    document.querySelector('.quotes').textContent = firstQuote;

    setInterval(() => {
        const randomQuote = quotes[Math.floor(Math.random() * quotes.length)];
        document.querySelector('.quotes').textContent = randomQuote;
    }, 10000);

</script>