<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/brands.min.css"
    integrity="sha512-EJp8vMVhYl7tBFE2rgNGb//drnr1+6XKMvTyamMS34YwOEFohhWkGq13tPWnK0FbjSS6D8YoA3n3bZmb3KiUYA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    footer .fa-brands,
    footer .mdi {
        font-size: 1.5rem;
        color: #ff4500;
    }

    footer .fa-brands:hover,
    footer .mdi:hover {
        color: #ff6600;
    }
</style>
<footer class=" py-5">
    <div class="mb-5">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h5 class="text-white
                    mt-0">Welcome to Your Go-To Source for Tech Insights!</h5>
                    <hr class="divider divider-light" />
                    <p class="text-white">
                        Know when new articles are published. Join our discord server!
                    </p>
                    <div class="box d-flex justify-content-center align-items-center">
                        <a href="https://discord.gg/2Ut2WBuSap" target="_blank" class="me-2"><i
                                class="fa-brands fa-discord"></i></a>

                        <a href="https://www.linkedin.com/in/wilkensonh2/" target="_blank" class="me-2"><i
                                class="mdi mdi-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container px-4 px-lg-5">
        <div class="small text-center text-muted">Copyright &copy; <%= new Date().getFullYear() %>, All rights
                reserved.
        </div>
    </div>
</footer>