<nav class="navbar navbar-expand-lg navbar-bg-dark bg-dark fixed-top py-3" id="mainNav">
    <div class="container px-2 px-lg-2">
        <a class="navbar-brand text-white" href="/">kadeeno.tech</a>
        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation" hidden>
            <span class="toggler-icon bg-white"></span>
            <span class="toggler-icon"></span>
            <span class="toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive" hidden>
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" hidden>
                    <a class="nav-link active" aria-current="page" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/resume">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/posts">Algorithm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/blogs">Blog</a>
                </li>
                <% if (!resume) { %>

                    <li class="nav-item">
                        <a class="nav-link active bg-orange" onclick="printResume()">Print resume</a>
                    </li>
                    <% } %>

                        <% if (isWriter || isAdmin) { %>
                            <li class="nav-item"><a class="nav-link" href="/admin">Dashboard</a></li>
                            <% } %>
            </ul>
        </div>
    </div>
</nav>